<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="bar-title">
            <i class="icon-tasks"></i>
            <span class="bar-name">公司简介</span>
            <span class="bar-more"><i class="icon-angle-double-right"></i><a href="#">more</a></span>
        </div>
        <div class="content">
            <p style="text-align: left">
                <img alt="" hspace="5" align="left" vspace="5" border="0" src="images/test.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司中文名分南北两个厂区，占地面积32万平方米。公司主要生产电站锅炉金属结构、高层建筑钢结构、厂房钢结构、桥梁钢结构、塔类钢结构、风力发电塔以及电站锅炉消声器、空气预热器传热元件、壳体、风门、烟道等系列产品。公司钢结构产品的制作能力为120000吨/年，空气预热器传热元件4000吨/年&nbsp;<br>
                公司中文名分南北两个厂区，占地面积32万平方米。公司主要生产电站锅炉金属结构、高层建筑钢结构、厂房钢结构、桥梁钢结构、塔类钢结构、风力发电塔以及电站锅炉消声器、空气预热器传热元件、壳体、风门、烟道等系列产品。公司钢结构产品的制作能力为120000吨/年，空气预热器传热元件4000吨/年
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以上文字可以直接修改模板文件来完成。 [<a style="color: #ff0000" href="/cn/about/index.html">详细介绍....</a>]
            </p>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="bar-title">
            <i class="icon-tasks"></i>
            <span class="bar-name">公司新闻</span>
            <span class="bar-more"><i class="icon-angle-double-right"></i><a href="#">more</a></span>
        </div>
        <div class="new_row_list">
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span>[2012-02-09]</span>
                    <a href="#">延安建设园林绿化工程提升城市品位</a>
                </dd>
            </dl>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="bar-title">
            <i class="icon-tasks"></i>
            <span class="bar-name">公司简介</span>
            <span class="bar-more"><i class="icon-angle-double-right"></i><a href="#">more</a></span>
        </div>
        <div class="content">
            <p style="text-align: left">
                <img alt="" hspace="5" align="left" vspace="5" border="0" src="images/test.jpg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司中文名分南北两个厂区，占地面积32万平方米。公司主要生产电站锅炉金属结构、高层建筑钢结构、厂房钢结构、桥梁钢结构、塔类钢结构、风力发电塔以及电站锅炉消声器、空气预热器传热元件、壳体、风门、烟道等系列产品。公司钢结构产品的制作能力为120000吨/年，空气预热器传热元件4000吨/年&nbsp;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以上文字可以直接修改模板文件来完成。 [<a style="color: #ff0000" href="/cn/about/index.html">详细介绍....</a>]
            </p>
        </div>
    </div>
</div>